{% extends "layout.html" %}

{% block title %}
    BK |
{% endblock %}

{% block main %}
    <br>
    <div class="container judul-halaman-isi body-wrapper">
    <h2>Gaya Belajar</h2>
    <h3>Gaya belajar merupakan kombinasi modal belajar dalam menangkap dan memproses informasi dari lingkungan. Gaya belajar terbagi menjadi 3, yaitu gaya belajar visual, audio dan kinestetik.</h3>
    <h4> class="about">Ciri-ciri gaya belajar visual, yaitu:</h4>
    <ul>
        <li>Buatlah banyak simbol dan gambar dalam catatan</li>
        <li>Dalam matematika dan ilmu pengetahuan, tabel dan grafik akan memperdalam pemahaman</li>
        <li>Peta pikiran dapat menjadi alat yang bagus dalam mata pelajaran apapun</li>
        <li>Bacalah dulu secara sekilas materi yang akan dipelajari, kemudian setelah mendapatkan gambaran umum tentang materi yang akan dipelajari, barulah masuk pada perincian atau detailnya</li>
    </ul>
    <h5> class="about">Ciri-ciri gaya belajar audio, yaitu:</h5>
    <ul>
        <li>Mendengar kuliah- cerita, dan mengulang informasi yang didengar</li>
        <li>Lebih suka merekam pada kaset daripada mencatat</li>
        <li>Menyimak dan mengulang dengan keras</li>
        <li>Berbicara dengan dirinya sendiri untuk memahami materi pelajaran</li>
        <li>Mengingat dengan disertai nada yang sudah dikenal sebelumnya</li>
    </ul>
    <h6> class="about">Ciri-ciri gaya belajar kinestetik, yaitu:</h6>
    <ul>
        <li>Lakukan proyek terapan, dengan sandiwara pendek yang menarik</li>
        <li>Belajar melalui gerakan, dan menghafal informasi dengan mengasosiasikan gerakan dengan setiap fakta</li>
        <li>Melihat contoh atau ditunjukan caranya dalam mengerjakan sesuatu</li>
    </ul>
    
    </div>
    
    <span>BK</span>
{% endblock %}
