{% extends "layout.html" %}

{% block title %}
    Dashboard |
{% endblock %}

{% block main %}
    <br>
    <div class="Introduction">
        <h2>Introduction</h2> <!-- bisa diisi judul materi -->
        <h3>Pengenalan Tugas atau Project</h3> <!-- bisa diisi kelas atau tingkatan -->
        
      <div class="Penjelasan Tugas dan Project"> <!-- bisa diisi materi yang mau di tampilkan -->
        <p style="text-indent: 45px;">Website ini digunakan untuk mengenalkan bahasa program seperti <strong>Python</strong>, <strong>Flask</strong>, <strongHTML</strong>
            <strong>CSS</strong>, <strong>PHPLite3</strong>, <strong>Jinja</strong>, dan seterusnya.<br />
         <p>Dengan pengenalan ini diharapkan para siswa bisa mencintai materi pelajaran dengan sentuhan TIK atau ICT</P>
        <p>Para pengajar dalam web ini adalah sebagai berikut:
            <ol>
                <li>Rudolf Abraham Luhukay, S.T.</li>
          
                    
         </div>
{% endblock %}
