{% extends "layout.html" %}

{% block title %}
    Home |
{% endblock %}

{% block main %}
<section id="Home" style="margin-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="text-align: center;">
                <img style="width: 70%; top: 5%; position: relative;" src="https://img.freepik.com/free-vector/programming-concept-illustration_114360-1351.jpg"/>
            </div>
            <div class="col-lg-6" style="text-align: justify;">
                <div class="kolom">
                    <p class="deskripsi"><strong><h2>Final Project</h2></strong></p>
                    <h2>CS50 Indonesia</h2>
                    <p>Website ini digunakan untuk mengenalkan materi <b>Matematika</b> dan <b>Bimbingan Konseling</b>. Website ini dibangun menggunakan <strong>Python</strong>, <strong>Flask</strong>, <strong>HTML</strong>, <strong>CSS</strong>, dan yang lainya.
                    Dengan pengenalan ini diharapkan para siswa bisa mencintai materi pelajaran dengan sentuhan TIK atau ICT.
                    Para pengajar dalam web ini adalah sebagai berikut:</p>
                    <ol style="font-weight: bold; color: darkorange;">
                        <li><a class="footermenu" href="https://github.com/rudolf-web">Rudolf Abraham Luhukay, S.T.</a></li>
                        <li><a class="footermenu" href="https://github.com/GeshaRahmalia">Gesha Rahmalia</a></li>
                        <li><a class="footermenu" href="https://github.com/nrwahyuaji">Nur Rahmat Wahyuaji, S.Pd.</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
            <footer>
                Copyright &copy; 2023 by Gege Rahmalia| Nur Rahmat | Rudolf | Final Project CS50x Indonesia - Harvard University
            </footer>
{% endblock %}
