{% extends "layout.html" %}

{% block title %}
    Home |
{% endblock %}

{% block main %}
<section id="Home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img style="width: 90%; top: 5%; position: relative;" src="https://img.freepik.com/free-vector/programming-concept-illustration_114360-1351.jpg"/>
            </div>
            <div class="col-lg-6">
                <div class="kolom">
                    <p class="deskripsi"><strong><h2>Final Project</h2></strong></p>
                    <h2>CS50 Indonesia</h2>
                    <p>Website ini digunakan untuk mengenalkan bahasa program seperti <strong>Python</strong>, <strong>Flask</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>PHPLite3</strong>, <strong>Jinja</strong>, dan seterusnya.</p>
                    <p>Dengan pengenalan ini diharapkan para siswa bisa mencintai materi pelajaran dengan sentuhan TIK atau ICT.</p>
                    <p>Para pengajar dalam web ini adalah sebagai berikut:</p>
                    <ol>
                        <li>Rudolf Abraham Luhukay, S.T.</li>
                        <li>Gesha Rahmalia</li>
                        <li>Nur Rahmat Wahyuaji, S.Pd.</li>
                    </ol>
                    <p><a href="" class="tbl-pink">Read more...</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}