{% extends "layout.html" %}

{% block title %}
    Math 10 |
{% endblock %}

{% block main %}
    <br>
    <div class="Math 10-wrapper">
        <h2>Linear Simultaneous Equations with Two Variables</h2> <!-- bisa diisi judul materi -->
        <h3>Linear Simultaneous Equations with Two Variables G-10</h3> <!-- bisa diisi kelas atau tingkatan -->
     </div>
        <div class="container body-wrapper"> <!-- ganti url video dibawah ini setelah /embed/ misal /embed/ISIDISINI -->
         <iframe width="100%" height="450" style="border-radius: 10px;"  src="https://www.youtube.com/embed/QNigb4Art5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    
      <div class="Linear Simultaneous Equations with Two Variables G-10"> <!-- bisa diisi materi yang mau di tampilkan -->
        <p style="text-indent: 45px;">A finite set of linear equations in variables x and y is called a linear simultaneous (or a linear system).</p>
       <p style="text-indent: 45px;">An ordered pair (x<sub>0</sub>, y<sub>0</sub>) is a solution of the system if (x<sub>0</sub>, y<sub>0</sub>) is a solution of every equation in the system.</p>
          <p style="text-indent: 45px;">For example, (4, -2) is a solution to the following system:</p><br />
          <p style="text-indent: 45px;"><li>3x + y = 10</li></p>
          <p style="text-indent: 45px;"><li>5x - 2y = 24;</li></p>
          <p style="text-indent: 45px;">Since (4, -2) satisfies both equations, (1,-7) is not a solution of the system since it satisfies only the first equation.
            The solution set of a system of linear equations is a set of ordered pairs that satisfies each of the linear equations.</p><br />
            
          <p style="text-indent: 45px;"><strong> Solving The Linear Simultaneous Equations with Two Variables</strong></p><br />
            <p style="text-indent: 45px;">In general, a linear simultaneous equations with variables x and y can be expressed as follows.</p><br />
          <p style="text-indent: 45px;"><li>a<sub>1</sub>x + b<sub>1</sub>y = c<sub>1</sub></p></li>
          <p style="text-indent: 45px;"><li>a<sub>2</sub>x + b<sub>2</sub>y = c<sub>2</sub></p></li>
            <p style="text-indent: 45px;">Where a<sub>1</sub>, b<sub>1</sub>, c<sub>1</sub>, a<sub>2</sub>, b<sub>2</sub>, and c<sub>2</sub>E <strong>R</strong></p>,
            <p style="text-indent: 45px;">There are several methods to solve a linear simultaneous equations:
          <ol>
            <li>Graphing method</li>
            <li>Elimination method</li>
            <li>Substitution method</li>
            <li>Substitution-Elimination method</li>
         </ol>
          </p>

         </div>
        
{% endblock %}
