{% extends "layout.html" %}

{% block title %}
    Math 10 |
{% endblock %}

{% block main %}
    <br>
    <div class="Math 10-wrapper">
        <p class ="deskripsi"><strong><h2>Sistem Persamaan Linier</h2></strong></p>
       <h2>Sistem Persamaan Linier</h2> <!-- bisa diisi judu materi -->
        <h3>Sistem Persamaan Linier 10</h3> <!-- bisa diisi kelas atau tingkatan -->
     </div>
        <div class="container body-wrapper"> <!-- ganti url video dibawah ini setelah /embed/ misal /embed/ISIDISINI -->
            
        </div>
      <div class="Sistem Persamaan Linier 10-wrapper"> <!-- bisa diisi materi yang mau di tampilkan -->
        <p>Sistem persamaan linear adalah persamaan yang dikorelasikan membentuk sistem, bisa satu variabel, dua variabel, dan bahkan lebih.
        Contoh dua variabel dalam SPLDV yaitu variabel x dan y. 
        ax + by = c
        px - qy = r; dimana a, b, c, p, q, dan r adalah bilangan real. 
        Penyelesaian SPLDV ada beberapa cara yaitu:
        a. Metode Grafik
        b. Metode eliminasi
        c. Metode substitusi
        d. Metode Eliminasi-Substitusi </p>
       </div>
        
{% endblock %}
