{% extends "layout.html" %}

{% block title %}
    Math 10 |
{% endblock %}

{% block main %}
    <br>
    <div class="Math 10-wrapper">
        <h2>Sistem Persamaan Linier</h2> <!-- bisa diisi judul materi -->
        <h3>Sistem Persamaan Linier 10</h3> <!-- bisa diisi kelas atau tingkatan -->
     </div>
        <div class="container body-wrapper"> <!-- ganti url video dibawah ini setelah /embed/ misal /embed/ISIDISINI -->
            
        </div>
      <div class="Sistem Persamaan Linier 10-wrapper"> <!-- bisa diisi materi yang mau di tampilkan -->
        <p class="justify">Sistem persamaan linear adalah persamaan yang dikorelasikan membentuk sistem, bisa satu variabel, dua variabel, dan bahkan lebih.
        Contoh dua variabel dalam SPLDV yaitu variabel x dan y. 
        ax + by = c
        px - qy = r; dimana a, b, c, p, q, dan r adalah bilangan real. 
        Penyelesaian SPLDV ada beberapa cara yaitu:
        <ol>
            <li>Metode Grafik</li>
            <li>Metode eliminasi</li>
            <li>Metode substitusi</li>
            <li>Metode Eliminasi-Substitusi</li>
         </ol>
       </p>
       </div>
        
{% endblock %}
