{% extends "layout.html" %}

{% block title %}
    Math 10 |
{% endblock %}

{% block main %}
    <br>
    <section id="Math 10">
        <p class ="deskripsi"><strong><h2>Sistem Persamaan Linier</h2></strong></p>
        <h3>I am teacher Rudolf</h3>
        <p>Sistem persamaan linear adalah persamaan yang dikorelasikan membentuk sistem, bisa satu variabel, dua variabel, dan bahkan lebih.
        Contoh dua variabel dalam SPLDV yaitu variabel x dan y. 
        ax + by = c
        px - qy = r; dimana a, b, c, p, q, dan r adalah bilangan real. </p>
        
{% endblock %}
