{% extends "layout.html" %}

{% block title %}
    Math 11 |
{% endblock %}

{% block main %}
    <br>
    <div class="container judul-halaman-isi body-wrapper">
        <h2>Persamaan Lingkaran</h2> <!-- bisa diisi judu materi -->
        <h3>Materi Matematika Peminatan Kelas 11</h3> <!-- bisa diisi kelas atau tingkatan -->
    </div>
    <div class="container body-wrapper"> <!-- ganti url video dibawah ini setelah /embed/ misal /embed/ISIDISINI -->
        <iframe width="100%" height="450" style="border-radius: 10px;"  src="https://www.youtube.com/embed/A1EVg6s0NDg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="container judul-halaman-isi body-wrapper isi-tulisan"> <!-- bisa diisi materi yang mau di tampilkan -->
        <p><b>Lingkaran</b> adalah kedudukan titik-titik pada bidang yang mempunyai jarak sama terhadap sebuah titik tertentu. 
            Titik tersebut biasanya menjadi titik pusat suatu lingkaran. Sedangkan jarak dari titik-titik tersebut ke titik pusat
            disebut jari-jari.</p>
        <ol>
            <li><b>Persamaan Lingkaran yang Berpusat di O(0,0) dan Berjari-jari "r".</b></li>
            <div>
                <p>Lingkaran di bawah ini, merupakan lingkaran yang berpusat di O(0,0) dan
                berjari-jari "r". Titik P(x,y) merupakan titik sembarang yang terdapat
                pada lingkaran L. Garis OP merupakan sebuah jari-jari lingkaran yang disimbolkan "r".</p>
                <img src="/static/img/lingkaran1.png" />
                <p>Coba perhatikan segitiga POQ!</p>
                <p>Kalau kita hubungkan dengan teorema <i>phytagoras</i> maka diperoleh:</p>
            </div>
            <li><b>Persamaan Lingkaran yang Berpusat di M(a,b) dan Berjari-jari "r".</b></li>    
            <span>Bbbb</span>

            <li><b>Persamaan Umum Lingkaran.</b></li>
            <span>Cccc</span>
        
        </ol>
        <p>Materi hari ini adalah ... . Materi hari ini adalah ... . Materi hari ini adalah ... .
            Materi hari ini adalah ... . Materi hari ini adalah ... . Materi hari ini adalah ... .
            Materi hari ini adalah ... . Materi hari ini adalah ... . Materi hari ini adalah ... .
            Materi hari ini adalah ... . Materi hari ini adalah ... . Materi hari ini adalah ... .
            Materi hari ini adalah ... . Materi hari ini adalah ... . Materi hari ini adalah ... .
            Materi hari ini adalah ... . Materi hari ini adalah ... . Materi hari ini adalah ... .
        </p>
    </div>
{% endblock %}
